{% extends "auctions/layout.html" %}

{% block body %}
<h3>Create a new listing</h3>
<div>

    <form action="{% url 'auction:add_listing' %}" method = post>
        <div class="form-group">
            {{ form.as_p }}
        </div>
        
        <input type=submit>
        {% csrf_token %}
    </form>
</div>

<div>
    <form>
    <div class="form-group">
        <label for="ListingTitle">Listing Title</label>
        <input type="text" class="form-control" id="ListingTitle" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Create a unique title that does not include the price in the title.</small>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Listing Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formControlRange">Initial Bid</label>
        <input type="range" class="form-control-range" id="formControlRange">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Image URL</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Place the url of the image of the listing here (It must be stored online).</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Categories</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Separate categories by a comma. (i.e. Food,Camera,Toys)</small>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}