{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="row">

        {% for listing in active_listings %}
            <div class="card" style="width: 18rem;">
                <img src="{{ listing.url }}" class="card-img-top" alt="Picture of {{ listing.title }}">
                <div class="card-body">
                <h5 class="card-title"><a href="{% url 'auction:listing' listing.title %}">{{ listing.title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Current Bid: {{ listing.bid_listing.value }}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Date added: {{listing.date_created}}</h6>
                <p class="card-text">{{ listing.description }}</p>
                <a href="{% url 'auction:listing' listing.title %}" class="btn btn-primary">Check this listing</a>
                </div>
            </div>
            
        {% empty %}
            <h4>There is no listing available.</h4>
        {% endfor %}
    </div>
{% endblock %}