{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'auctions/styles.css' %}" >
    </head>
    <body>
        <h1>Auctions</h1>
        <div >
            {% if user.is_authenticated %}
            <div class="alert alert-success" role="alert"> Signed in as <strong>{{ user.username }}</strong>.</div>
            {% else %}
            <div class="alert alert-danger" role="alert"> Not signed in.</div>
            {% endif %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                {% if index_active is True %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auction:index' %}">Active Listings</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auction:index' %}">Active Listings</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auction:logout' %}">Log Out</a>
                    </li>
                    {% if add_listing_active is True %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'auction:add_listing' %}">Create Listing</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:add_listing' %}">Create Listing</a>
                        </li>
                    {% endif %}
             
                {% else %}
                    {% if login_active is True %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auction:login' %}">Log In</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:login' %}">Log In</a>
                        </li>
                    {% endif %}
                    
                    {% if register_active is True %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'auction:register' %}">Register</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auction:register' %}">Register</a>
                        </li>
                    {% endif %}
                {% endif %}
              </ul>
            </div>
          </nav>
 
        
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
