{% extends "network/layout.html" %}

{% block body %}
    <div id="new_post" class="container-fluid">
        {% if user.is_authenticated %}
            
            <form id="new_post_form" action="{% url 'news_feed' %}" method="POST">
                {% csrf_token %}
                <h2> New Post</h2>
                <div class="form-group">
                    <input class="form-control" type="textarea" id="post_body" name="post_content" placeholder="What's on your mind?">
                </div>
                <button  id="form_submit" type="submit" class="btn btn-primary">Post</button>
               
            </form>
            
            {% if isContentEmpty %}
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <!---img src="..." class="rounded me-2" alt="...">--->
                            <strong class="me-auto">Tweeter</strong>
                            <small> {{ toastTime }}</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            ERROR: You cannot post with an empty string.
                        </div>
                    </div>
                </div>
                    

            {% endif %}
            <hr>
        {% endif %}
    </div>

    <div id="all_post">
        <h2>News Feed</h2>
    </div>

    
{% endblock %}

