{% extends "network/layout.html" %}

{% block body %}
   
<div id="profile_data" class="container-fluid">
    <h5>Name: {{ username }}</h5>
    <p>
        Email: {{ email }}
        Number of followers: {{ followers }}
        Profile created on: {{ date_created }}
    </p>
</div>

<div id="profile_posts" class="container-fluid">

    

        {% for post in posts %}
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 pb-3">
                    <div class="card">
                        <div class="card-body">
                        <h5><a href="network/{{post.user}}">{{ post.user }}</a></h5>
                            <p class="card-text">{{post.content}}</p>
                            <a href="#" class="badge">Like this post</a>
                        </div>
                        <div class="card-footer text-muted">
                            <span class="text-right"> Post created: {{post.date_posted}}</span>
                            <span class="text-right"> Last updated: {{post.date_edited}}</span>
                            <span>Likes: {{post.likes}}</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        {% endfor %}
    

</div>
{% endblock %}